.centrado{
    padding-top:25%;
    padding-bottom:25%;
    background-image: url("../img/back.jpeg");
    background-size: cover;

}
.labe{
    font-size: 1rem;
    font-weight: bold;
    color: #ffff;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}
.boton{
    padding: 20px;
}
.listas>input{
    width: 90%;
}
.listas>select{
    width: 90%;

}
.inp{
    font-size: 0.8rem;
    font-weight: bold;
    color: #ffff;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px; 
}
resaltado{
    color: rgb(179, 84, 36);
    font-weight: bold;
    font-size: 0.8rem;
}