
.boton{
    padding-top: 1rem;
    paggin-right: 1rem!important;
}
.listas>input{
    width: 90%;
}
.listas>select{
    width: 90%;

}
header{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #00724e;
}
img{
    width: 10%;
    height: 10%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.centrado{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.btncolor{
    background-color: #00724e;
    color:#00724e ;
}