.centrado{
    padding-top:25%;
    padding-bottom:25%;
    background-image: url("../img/back.jpeg");
    background-size: cover;

}
.labe{
    font-size: 20px;
    font-weight: bold;
    color: #ffff;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}
.boton{
    padding: 20px;
}